@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-row w-full h-full">
    <div class="w-5 p-5 rounded d-flex flex-column align-items-center">
            
        <img src="images/jolly_1.png" class="rounded" alt="jolly_1" width="400">

        <h1>
          Welcome to JollyChimp Health Checks
        </h1>

        <br/>

        <p>
          A vigilant service named Jolly Chimp worked quietly behind the scenes.
          <br/>
          Jolly Chimp was more than just another microservice; he was the health monitor, ensuring every
          <br/>
          component within the system was running smoothly and without interruption.
        </p>

        <img src="images/jolly_3.png" class="rounded" alt="jolly_3" width="400">

        <p>
          Every few minutes, Jolly Chimp executed a round of scheduled health checks, evaluating each
          <br/>
          service’s availability. If all systems reported back healthy, he’d log the results and continue his
          <br/>
          rounds. But when a service stumbled—lagging response - Jolly Chimp moved into action.
          <br/>
          He’d make noise informing the relevant tech teams to investigate further.
        </p>

        <img src="images/jolly_2.png" class="rounded" alt="jolly_2" width="400">

        <p>
          JollyChimp’s capabilities didn’t end with internal monitoring; he also exposed his health check through
          <br/>
          a set of RESTful APIs. Third-party services could call GET /api/health/status to check on all services,
          <br/>
          or a specific endpoint, GET /api/health/status/{serviceId}, to see individual results.
          <br/>
          This allowed external systems to rely on Jolly Chimp’s assessments without accessing PROJECT’s entire backend.
          <br/>
          And if a service failed critically, Jolly Chimp was programmed to send an alert to the appropriate teams.
          <br/>
          Notifications were configured through email ensuring a quick response to minimize downtime.
          <br/>
          This seamless integration made Jolly Chimp a cornerstone for reliability, silently protecting
          <br/>
          the ecosystem with each check and every alert.
        </p>

        <h1>
          What happened if something went wrong and Jolly Chimp did not report the issue?
        </h1>

        <img src="images/jolly_4.png" class="rounded" alt="jolly_4" width="400">

        <p>
          We will blame it on the developers but secretly we know he enjoys watching elden ring play throughs a little bit too much.
        </p>

      </div>
</div>